<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Telegram User Profile</title>
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
    <link href="../static/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
    <h1 class="text-2xl font-bold mb-4 text-center">User Profile</h1>
    <div th:if="${isAuthenticated}">
        <div class="space-y-2">
            <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
            <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
            <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
            <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
        </div>
    </div>
    <div th:unless="${isAuthenticated}">
        <p class="text-red-600 text-center" th:text="${error}"></p>
    </div>
</div>
</body>
</html>